.icon-qunzu {
  color: #fd9246;
}
.icon-xiangmu {
  color: #58c23f;
}
.icon-gengduo {
  color: #1bb2f3;
}
.icon-renyuan {
  color: #5594ec;
}
.icon-zujian {
  color: #fd9246;
}

/* 工作的 */
.icon-huiyi {
  color: #fd9246;
}
.icon-yanjiu {
  color: #58c23f;
}
.icon-ziyuan {
  color: #1bb2f3;
}
.icon-gongzuo {
  color: #5594ec;
}

/* 项目的 */
.icon-guanli {
  color: #1bb2f3;
}
.icon-chengguo {
  color: #58c23f;
}
.icon-tongji {
  color: #1bb2f3;
}

.icon-lunwentijiao {
  color: #5594ec;
}
.icon-bumen {
  color: #fd9246;
}
.icon-chengguo {
  color: #5594ec;
}
.icon-chengguo1 {
  color: #1bb2f3;
}

.icon-shenpi {
  color: #1bb2f3;
}
.icon-add-funding {
  color: #fd9246;
}

.icon-baoxiao {
  color: #5594ec;
}
.icon-tongji {
  color: #58c23f;
}

.icon-xiangmu1 {
  color: #5594ec;
}

.icon-fangjian {
  color: #1bb2f3;
}
.icon-wode-copy {
  color: #5594ec;
}
.icon-guanli1 {
  color: #58c23f;
}
.icon-tongzhi {
  color: #fd9246;
}
.icon-huiyi {
  color: #fd9246;
}
.icon-shenqing {
  color: #1bb2f3;
}

.icon-tongji1 {
  color: #1bb2f3;
}
.icon-xiangmu1 {
  color: #fd9246;
}

.icon-shuoming {
  color: #58c23f;
}
.icon-yusuan {
  color: #1bb2f3;
}
.icon-add-funding {
  color: #fd9246;
}

.icon-cangku {
  color: #58c23f;
}
.icon-cangku.ku2 {
  color: #1bb2f3;
}
.icon-wupin {
  color: #58c23f;
}
.icon-jieyong {
  color: #5594ec;
}
.icon-lingqu {
  color: #fd9246;
}
.icon-baofei {
  color: #1bb2f3;
}
.icon-tiaobodan {
  color: #58c23f;
}

.icon-bumen {
  color: #fd9246;
}
.icon-bumen1 {
  color: #5594ec;
}
.icon-zhuanye {
  color: #58c23f;
}
.icon-gongzuo {
  color: #1bb2f3;
}

.icon-weixiu {
  color: #58c23f;
}
.icon-guanli1 {
  color: #fd9246;
}

.icon-canting-tianchong {
  color: #1bb2f3;
}
.icon--addressbookdirectoryphonephonebookt {
  color: #fd9246;
}

.icon-bumen1.i2 {
  color: #5594ec;
}

.icon-yiliao {
  color: #58c23f;
}
.icon-anbao {
  color: #fd9246;
}

.il {
  color: #58c23f;
}

.ic {
  color: #fd9246;
}

.il {
  color: #5594ec;
}
.it {
  color: #1bb2f3;
}
